---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import TwoColumnsLayout from "../../layouts/TwoColumnsLayout.astro";
import SocialShare from "../../components/SocialShare.astro";
import LatestPosts from "../../components/LatestPosts.astro";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"posts">;
};

const allPosts = await getCollection("posts");

const { entry } = Astro.props;
const { Content } = await entry.render();

var month = [
  "Jan",
  "Feb",
  "Mar",
  "Apr",
  "May",
  "Jun",
  "Jul",
  "Aug",
  "Sep",
  "Oct",
  "Nov",
  "Dec",
];

const publishedDate = `${month[entry.data.pubDate.getMonth()]} ${entry.data.pubDate.getDate()}, ${entry.data.pubDate.getFullYear()}`;

const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
const latestPosts = sortedPosts.slice(0, 5);
---

<TwoColumnsLayout title={entry.data.title}>
  <section class="flex flex-col gap-4">
    <div class="flex flex-col items-start gap-2 justify-between pb-4">
      <h1 class="text-zinc-950 text-3xl font-bold">{entry.data.title}</h1>
      <p class="text-sm text-zinc-500">
        {publishedDate} - {entry.data.readingSpeed} min read
      </p>
    </div>
    <div class="flex flex-col gap-4 leading-7">
      <Content />
    </div>
    <div class="py-4 group">
      <SocialShare
        title={`${entry.data.title} - ${entry.data.description}`}
        url={`newsletter.supply/blog/${entry.slug}`}
      />
    </div>
    <div class="py-4 group">
      <span
        class="text-sm text-zinc-700 group-hover:text-zinc-950 transition-colors"
        >←
      </span>
      <a
        class="text-sm text-zinc-700 hover:text-zinc-950 group-hover:underline transition-colors"
        href="/blog">Back to all posts</a
      >
    </div>
  </section>
</TwoColumnsLayout>
