---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ToolCard from '../../components/ToolCard.astro';
import { getCollection, type CollectionEntry } from 'astro:content';



export async function getStaticPaths() {
  const allTools = await getCollection("tools");

  const uniqueCategory = [...new Set(allTools.map((category) => category.data.categories).flat())];

  return uniqueCategory.map((category) => {
    const filteredTools = allTools.filter((tool) => tool.data.categories.includes(category));
        return {
          params: { category },
          props: { tools: filteredTools },
        };
  });
}

const { category } = Astro.params;
const { tools } = Astro.props;

const categoryCapitalize = category.charAt(0).toUpperCase() + category.slice(1)
const categoryDisplay = category.replace(/-/g, ' ')
const categoryCapitalizeDisplay = categoryCapitalize.replace(/-/g, ' ')
---

<BaseLayout 
    title={categoryCapitalizeDisplay}
    description={`A collection of the best ${category} tools.`}>
    <section id="tools">
      <div class="flex flex-col md:basis-2/3 gap-4">
        <h1 class="mt-12">Best <span class="capitalize">{categoryDisplay}</span> Tools for Newsletters</h1>
        <p class="max-w-2xl text-lg">A collection of the best {categoryDisplay} tools. Find the best {categoryDisplay} tools to run your newsletter.</p>
      </div>
      <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
        {tools.map((tool) => 
          <ToolCard tools={tool} />
        )}
    </section>
  </BaseLayout>