---
import ButtonPrimary from "../components/ButtonPrimary.astro";
import TopicCard from "../components/TopicCard.astro";
import CategoryCard from "../components/CategoryCard.astro";
import ToolCard from "../components/ToolCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import SignupForm from "../components/SignupForm.astro";
import { Image } from "astro:assets";
import puzzlePiece from "../assets/images/puzzle_piece.jpg";

const allPlugins = await getCollection("plugins");

const allPluginsNumber = allPlugins.length
const freePluginsNumber = allPlugins.filter(plugin => plugin.data.free === true ).length
const paidPluginsNumber = allPlugins.filter(plugin => plugin.data.free === false ).length

// Categories
const allCategories = [
  ...new Set(allPlugins.map((plugin) => plugin.data.categories).flat()),
];
const alphabeticalCategories = allCategories.sort((a, b) => {
  return a.localeCompare(b);
});
const featuredCatgories = alphabeticalCategories.slice(0, 6);


// Tools
const featuredPlugins = allPlugins.filter((tool) => tool.data.feat === true);
const latestPlugins = allPlugins.sort(
  (a, b) =>
    new Date(b.data.updateDate).getTime() -
    new Date(a.data.updateDate).getTime()
);
const latestSixPlugins = latestPlugins.slice(0, 6);

let categoryDisplay;
let topicDisplay;
---

<BaseLayout title="" description="All the best Framer plugins in one place">
  <section class="w-full flex gap-4 pt-16 pb-16">
    <div class="flex flex-col md:basis-2/3 gap-4">
      <h1>
        All the best Framer plugins <br /><span class="text-zinc-600"
          >— to supercharge your website.</span
        >
      </h1>
      <p class="max-w-xl text-lg text-zinc-600">
        Discover a curated list of Framer plugins to help you enhance your
        website. From animations to SEO and CMS, you'll find the perfect plugins
        here with a few clicks.
      </p>
      <ButtonPrimary title="Browse plugins →" link="/plugins" target="_self" />
    </div>
    <div class="hidden md:block max-w-72">
      <Image src={puzzlePiece} alt="Framer Plugins" />
    </div>
  </section>
  <section class="py-4">
    <div class="group flex items-end justify-between">
      <h2 class="">Latest Framer plugins</h2>
      <a href="/plugins" class="text-sm hover:underline">All plugins → </a>
    </div>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
      {latestSixPlugins.map((plugin) => <ToolCard plugins={plugin} />)}
      <!--SUBMIT CARD
      <a
        href="#"
        class="relative flex flex-col gap-8 group overflow-hidden p-8 rounded-lg bg-white border border-zinc-200 w-full cursor-pointer hover:border-zinc-300 hover:bg-zinc-50"
      >
        <div class="flex gap-2 items-center justify-between">
          <div
            class="flex items-center justify-center border border-zinc-300 rounded-md w-12 h-12"
          >
          </div>
        </div>
        <div class="flex flex-col gap-0 w-full">
          <div class="flex items-center gap-2">
            <h3 class="text-zinc-950 font-bold leading-8">Title</h3>
          </div>
          <p class="text-zinc-700 text-base leading-7 line-clamp-2">
            Description
          </p>
        </div>
      </a>-->
      <!-- {latestThreePlugins.map((plugin) => <ToolCard plugins={plugin} />)} -->
    </div>
  </section>
  <section id="topics" class="py-4">
    <div class="grid grid-col-1 sm:grid-cols-2 gap-6 pt-4">
      <TopicCard 
        icon="Launch"
        link={`/categories/free`}
        title="Free"
        quantity={freePluginsNumber}
      />
      <TopicCard 
        icon="Launch"
        link={`/categories/paid`}
        title="Paid"
        quantity={paidPluginsNumber}
      />
    </div>
  </section>
  <section id="categories" class="py-4">
    <div class="group flex items-end justify-between">
      <h2>Top Categories</h2>
      <a href="/categories" class="text-sm hover:underline"> View all → </a>
    </div>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
      {
        featuredCatgories.map((category) => (
          <CategoryCard
            link={category}
            category={category.length < 4 ? category.toUpperCase() : category}
          />
        ))
      }
    </div>
  </section>
</BaseLayout>
