---
import ButtonPrimary from "../components/ButtonPrimary.astro";
import TopicCard from "../components/TopicCard.astro";
import CategoryCard from "../components/CategoryCard.astro";
import ToolCard from "../components/ToolCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import SignupForm from "../components/SignupForm.astro";
import { Image } from "astro:assets";
import puzzlePiece from "../assets/images/puzzle_piece.jpg";
import SectionCard from "../components/SectionCard.astro";

const allPlugins = await getCollection("plugins");

const allPluginsNumber = allPlugins.length
const freePluginsNumber = allPlugins.filter(plugin => plugin.data.free === true).length
const paidPluginsNumber = allPlugins.filter(plugin => plugin.data.free === false).length

// Categories
const allCategories = [
  ...new Set(allPlugins.map((plugin) => plugin.data.categories).flat()),
];
const alphabeticalCategories = allCategories.sort((a, b) => {
  return a.localeCompare(b);
});
const featuredCategories = alphabeticalCategories.slice(0, 6);

const topCategories = [
  { label: "AI", href: "/ai" },
  { label: "Analytics", href: "/analytics" },
  { label: "Animations", href: "/animations" },
  { label: "CMS", href: "/cms" },
  { label: "Membership", href: "/membership" },
  { label: "Utilities", href: "/utilities" },
]


// Free Plugins listing
const homeFreePlugins = allPlugins
  .filter(plugin => plugin.data.free)
  .sort((a, b) => new Date(b.data.updateDate).getTime() - new Date(a.data.updateDate).getTime())
  .slice(0, 3);

const homeCmsPlugins = allPlugins
  .filter(plugin => plugin.data.categories.includes("cms"))
  .sort((a, b) => new Date(b.data.updateDate).getTime() - new Date(a.data.updateDate).getTime())
  .slice(0, 3);

const homeSeoPlugins = allPlugins
  .filter(plugin => plugin.data.categories.includes("seo"))
  .sort((a, b) => new Date(b.data.updateDate).getTime() - new Date(a.data.updateDate).getTime())
  .slice(0, 3);

const homeKitsPlugins = allPlugins
  .filter(plugin => plugin.data.categories.includes("ui"))
  .sort((a, b) => new Date(b.data.updateDate).getTime() - new Date(a.data.updateDate).getTime())
  .slice(0, 3);

const featuredPlugins = allPlugins.filter((tool) => tool.data.feat === true);

const latestPlugins = allPlugins.sort(
  (a, b) =>
    new Date(b.data.updateDate).getTime() -
    new Date(a.data.updateDate).getTime()
);
const latestSixPlugins = latestPlugins.slice(0, 6);

let categoryDisplay;
let topicDisplay;
---

<BaseLayout title="" description="All the best Framer plugins in one place. Discover a curated list of Framer plugins to help you enhance your website.">
  <section class="w-full flex gap-4 pt-16 pb-16">
    <div class="flex flex-col md:basis-2/3 gap-4">
      <div class="w-fit flex items-center gap-1 bg-zinc-200 p-[6px] rounded-md opacity-70">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 6.087c0-.355.186-.676.401-.959.221-.29.349-.634.349-1.003 0-1.036-1.007-1.875-2.25-1.875s-2.25.84-2.25 1.875c0 .369.128.713.349 1.003.215.283.401.604.401.959v0a.64.64 0 0 1-.657.643 48.39 48.39 0 0 1-4.163-.3c.186 1.613.293 3.25.315 4.907a.656.656 0 0 1-.658.663v0c-.355 0-.676-.186-.959-.401a1.647 1.647 0 0 0-1.003-.349c-1.036 0-1.875 1.007-1.875 2.25s.84 2.25 1.875 2.25c.369 0 .713-.128 1.003-.349.283-.215.604-.401.959-.401v0c.31 0 .555.26.532.57a48.039 48.039 0 0 1-.642 5.056c1.518.19 3.058.309 4.616.354a.64.64 0 0 0 .657-.643v0c0-.355-.186-.676-.401-.959a1.647 1.647 0 0 1-.349-1.003c0-1.035 1.008-1.875 2.25-1.875 1.243 0 2.25.84 2.25 1.875 0 .369-.128.713-.349 1.003-.215.283-.4.604-.4.959v0c0 .333.277.599.61.58a48.1 48.1 0 0 0 5.427-.63 48.05 48.05 0 0 0 .582-4.717.532.532 0 0 0-.533-.57v0c-.355 0-.676.186-.959.401-.29.221-.634.349-1.003.349-1.035 0-1.875-1.007-1.875-2.25s.84-2.25 1.875-2.25c.37 0 .713.128 1.003.349.283.215.604.401.96.401v0a.656.656 0 0 0 .658-.663 48.422 48.422 0 0 0-.37-5.36c-1.886.342-3.81.574-5.766.689a.578.578 0 0 1-.61-.58v0Z" />
        </svg>        
        <span class="text-xs leading-tight">{allPluginsNumber} plugins listed</span>
      </div>
      <h1 class="sm:hidden">
        All the best Framer plugins <span class="text-zinc-600"
          >— to supercharge your website.</span
        >
      </h1>
      <h1 class="hidden sm:block">
        All the best Framer plugins <br /><span class="text-zinc-600"
          >— to supercharge your website.</span
        >
      </h1>
      <p class="max-w-xl text-lg text-zinc-600">
        Discover a curated list of Framer plugins to help you enhance your
        website. From animations to SEO and CMS, you'll find the perfect plugins
        here with a few clicks.
      </p>
      <ButtonPrimary title="Browse plugins →" link="/plugins" target="_self" />
    </div>
    <div class="hidden md:block max-w-72">
      <Image src={puzzlePiece} alt="Framer Plugins" />
    </div>
  </section>
  <section class="py-4">
    <div class="group flex items-end justify-between">
      <h2 class="">Featured Framer plugins</h2>
      <a href="/plugins" class="text-sm hover:underline">All plugins →</a>
    </div>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
      {featuredPlugins.map((plugin) => <ToolCard plugins={plugin} />)}
    </div>
  </section>
  <section class="py-4">
    <div class="group flex items-end justify-between">
      <h2 class="">Free Framer plugins</h2>
      <a href="/categories/free" class="text-sm hover:underline">View all → </a>
    </div>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
      {homeFreePlugins.map((plugin) => <ToolCard plugins={plugin} />)}
    </div>
  </section>
  <section class="py-4">
    <div class="group flex items-end justify-between">
      <h2 class="">CMS Framer plugins</h2>
      <a href="/categories/cms" class="text-sm hover:underline">View all → </a>
    </div>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
      {homeCmsPlugins.map((plugin) => <ToolCard plugins={plugin} />)}
    </div>
  </section>
  <section class="py-4">
    <div class="group flex items-end justify-between">
      <h2 class="">SEO Framer plugins</h2>
      <a href="/categories/seo" class="text-sm hover:underline">View all → </a>
    </div>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
      {homeSeoPlugins.map((plugin) => <ToolCard plugins={plugin} />)}
    </div>
  </section>
  <section class="py-4">
    <div class="group flex items-end justify-between">
      <h2 class="">UI Kits Framer plugins</h2>
      <a href="/categories/ui" class="text-sm hover:underline">View all → </a>
    </div>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
      {homeKitsPlugins.map((plugin) => <ToolCard plugins={plugin} />)}
    </div>
  </section>
  <section class="py-4">
    <div class="group flex items-end justify-between">
      <h2 class="">Latest Framer plugins</h2>
      <a href="/plugins" class="text-sm hover:underline">All plugins → </a>
    </div>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
      {latestSixPlugins.map((plugin) => <ToolCard plugins={plugin} />)}
    </div>
  </section>
  <section id="topics" class="py-4">
    <div class="group flex items-end justify-between">
      <h2 class="">Free & Paid plugins</h2>
      <a href="/plugins" class="text-sm hover:underline">All plugins → </a>
    </div>
    <div class="grid grid-col-1 sm:grid-cols-2 gap-6 pt-4">
      <SectionCard 
        number="1"
        link={`/categories/free`}
        title="Free"
        quantity={freePluginsNumber}
      />
      <SectionCard 
        number="2"
        link={`/categories/paid`}
        title="Paid"
        quantity={paidPluginsNumber}
      />
    </div>
  </section>
  <section id="categories" class="py-4">
    <div class="group flex items-end justify-between">
      <h2>Top Categories</h2>
      <a href="/categories" class="text-sm hover:underline"> View all → </a>
    </div>
    <div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
      {
        topCategories.map((category) => (
          <CategoryCard
            link={category.href}
            category={category.label}
          />
        ))
      }
    </div>
  </section>
</BaseLayout>
