---
import PromoBanner from '../components/PromoBanner.astro';
import ToolCard from '../components/ToolCard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';


const allTools = await Astro.glob('../pages/tools/*.md');

---

<BaseLayout title="Welcome to Astro.">
	<main>
		<div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6">

			{allTools.map((tool) => 
				<ToolCard
					
					link={tool.url}
					icon={tool.frontmatter.icon}
					title={tool.frontmatter.title}
					description={tool.frontmatter.description}
					category={tool.frontmatter.categories[0]}
				/>
			)}
		</div>
		<div class="w-full my-12">
			<PromoBanner />
		</div>
	</main>
</BaseLayout>


