---
import ButtonPrimary from '../components/ButtonPrimary.astro';
import PromoBanner from '../components/PromoBanner.astro';
import ToolCard from '../components/ToolCard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';


const allTools = await Astro.glob('../pages/tools/*.md');

---

<BaseLayout
	title=""
	description="">
	<main>
		<div class="w-full flex gap-4 py-8">
			<div class="flex flex-col md:basis-2/3 gap-4">
				<h1>All the tools you need to 
					<span class="relative">
						<span class="absolute w-full bg-blue-500 right-0 bottom-1 h-3 -rotate-1 opacity-50 -z-10"></span>
						launch
					</span>,
					<span class="relative">
						<span class="absolute w-full bg-blue-500 right-0 bottom-1 h-3 -rotate-1 opacity-50 -z-10"></span>
						grow
					</span> and
					<span class="relative">
						<span class="absolute w-full bg-blue-500 right-0 bottom-1 h-3 -rotate-1 opacity-50 -z-10"></span>
						monetize
					</span>your newsletter.
				</h1>
				<p class="max-w-md text-lg">Discover a curated list of tools, apps and software to help you run your newsletter like a pro.</p>
				<ButtonPrimary 
					title="Browse tools"
					link="/#tools"
					target="_self"
				>
			</div>
		</div>
		<div id="tools" class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-12 pt-4">
			{allTools.map((tool) => 
				<ToolCard
					
					link={tool.url}
					icon={tool.frontmatter.icon}
					title={tool.frontmatter.title}
					description={tool.frontmatter.description}
					category={tool.frontmatter.categories[0]}
				/>
			)}
		</div>
		<div class="w-full mt-12">
			<PromoBanner />
		</div>
	</main>
</BaseLayout>


