---
import ButtonPrimary from '../components/ButtonPrimary.astro';
import GoalCard from '../components/GoalCard.astro';
import PromoBanner from '../components/PromoBanner.astro';
import ToolCard from '../components/ToolCard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';


const allTools = await Astro.glob('../pages/tools/*.md');

const allGoals = allTools.map((tool) => tool.frontmatter.categories).flat()

const processedGoals = allGoals.reduce((acc, goal) => {
    const value = acc[goal] || 0

    return {
        ...acc,
        [goal]: value + 1
    }
}, {})

const launchCount = processedGoals.launch
const growCount = processedGoals.grow
const monetiseCount = processedGoals.monetise

---

<BaseLayout
	title=""
	description="All the tools you need to launch ,grow and monetize your newsletter.">
	<main class="flex flex-col gap-12">
		<section class="w-full flex gap-4 py-8">
			<div class="flex flex-col md:basis-2/3 gap-4">
				<h1>All the tools you need to 
					<span class="relative">
						<span class="absolute w-full bg-blue-500 right-0 bottom-1 h-3 -rotate-1 opacity-50 -z-10"></span>
						launch
					</span>,
					<span class="relative">
						<span class="absolute w-full bg-blue-500 right-0 bottom-1 h-3 -rotate-1 opacity-50 -z-10"></span>
						grow
					</span> and
					<span class="relative">
						<span class="absolute w-full bg-blue-500 right-0 bottom-1 h-3 -rotate-1 opacity-50 -z-10"></span>
						monetize
					</span>your newsletter.
				</h1>
				<p class="max-w-md text-lg">Discover a curated list of tools, apps and software to help you run your newsletter like a pro.</p>
				<ButtonPrimary 
					title="Browse all tools"
					link="/#tools"
					target="_self"
				>
			</div>
		</section>
		<section>
			<h2 class="">Get setup in 3 steps</h2>
			<div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
				<GoalCard 
					link="/launch"
					icon="launch"
					title="Launch"
					quantity={launchCount}
				/>
				<GoalCard 
					link="/grow"
					icon="grow"
					title="Grow"
					quantity={growCount}
				/>
				<GoalCard 
					link="/monetise"
					icon="monetise"
					title="Monetise"
					quantity={monetiseCount}
				/>
			</div>
		</section>
		<section id="tools">
			<h2 class="">Latest tools</h2>
			<div class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-4">
			{allTools.map((tool) => 
				<ToolCard
					
					link={tool.url}
					icon={tool.frontmatter.icon}
					title={tool.frontmatter.title}
					description={tool.frontmatter.description}
					category={tool.frontmatter.categories[0]}
				/>
			)}
		</section>
		<div class="w-full ">
			<PromoBanner />
		</div>
	</main>
</BaseLayout>


