---
const navLinks = [
  { label: "Plugins", href: "/plugins" },
  { label: "Categories", href: "/categories" },
  { label: "Submit", href: "https://tally.so/r/w4okxO" },
  { label: "Contact", href: "mailto:julien@88pixels.co" },
];

const categoriesLinks = [
  { label: "Free", href: "/categories/free" },
  { label: "Paid", href: "/categories/paid" },
  { label: "Animations", href: "/categories/animations" },
  { label: "CMS", href: "/categories/cms" },
  { label: "Design", href: "/categories/design" },
  { label: "Images", href: "/categories/images" },
  { label: "SEO", href: "/categories/seo" },
];

const moreLinks = [
  { label: "Frameplate", href: "https://frameplate.co" },
  { label: "FrameShare", href: "https://frameshare.social" },
  { label: "88 Pixels", href: "https://88pixels.co" },
];
---

<footer class="mt-12 pt-4 flex flex-col gap-12 items-start justify-between">
  <!-- Copyright -->
  <div
    class="w-full flex flex-col md:flex-row md:basis-2/5 pt-4 justify-between items-start gap-4 md:gap-2 text-sm"
  >
    <div class="flex flex-col gap-2 md:basis-1/2">
      <span class="text-2xl text-zinc-950 font-thin flex gap-1 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 256 256"
          ><path
            d="M165.78,224H208a16,16,0,0,0,16-16V170.35A8,8,0,0,0,212.94,163a23.37,23.37,0,0,1-8.94,1.77c-13.23,0-24-11.1-24-24.73s10.77-24.73,24-24.73a23.37,23.37,0,0,1,8.94,1.77A8,8,0,0,0,224,109.65V72a16,16,0,0,0-16-16H171.78a35.36,35.36,0,0,0,.22-4,36,36,0,0,0-72,0,35.36,35.36,0,0,0,.22,4H64A16,16,0,0,0,48,72v32.22a35.36,35.36,0,0,0-4-.22,36,36,0,0,0,0,72,35.36,35.36,0,0,0,4-.22V208a16,16,0,0,0,16,16h42.22"
          ></path></svg
        >
        <span><span class="font-bold">frame</span>plugins</span>
      </span>
      <p class="text-sm text-zinc-600 max-w-64 leading-6">
        Supercharge your website with the latest Framer plugins.
      </p>
    </div>
    <div class="flex gap-4 items-center md:basis-1/5">
      <ul class="flex flex-col gap-3 pt-2">
        <li class="text-base list-none m-0 font-semibold">Pages</li>
        {
          navLinks.map((link) => (
            <li class="list-none m-0">
              <a href={link.href} class="text-zinc-600 hover:text-zinc-950">
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex gap-4 items-center md:basis-1/5">
      <ul class="flex flex-col gap-3 pt-2">
        <li class="text-base list-none m-0 font-semibold">Categories</li>
        {
          categoriesLinks.map((link) => (
            <li class="list-none m-0">
              <a href={link.href} class="text-zinc-600 hover:text-zinc-950">
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex gap-4 items-center md:basis-1/5">
      <ul class="flex flex-col gap-3 pt-2">
        <li class="text-base list-none m-0 font-semibold">More</li>
        {
          moreLinks.map((link) => (
            <li class="list-none m-0">
              <a
                href={link.href}
                target="_blank"
                class="text-zinc-600 hover:text-zinc-950"
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="w-full pt-6 border-t border-zinc-200 text-sm text-zinc-600">
    <span>© {new Date().getFullYear()} Frameplugins. All rights reserved.</span
    >
  </div>
</footer>
