---
import type { CollectionEntry } from "astro:content";

type Props = {
  posts: CollectionEntry<"posts">;
};

const { posts } = Astro.props;
const { title, description, pubDate, readingSpeed } = posts.data;

var month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

const publishedDate = `${month[pubDate.getMonth()]} ${pubDate.getDate()}, ${pubDate.getFullYear()}`;

---

<a
  href={`/blog/${posts.slug}`}
  class="group w-full flex flex-col gap-2 py-6 border-b border-zinc-200"
>
  <div class="flex flex-col gap-0">
    <h2 class="text-xl mt-0 line-clamp-2">{title}</h2>
    <p>{description}</p>
  </div>
  <small
    class="flex items-center gap-1 py-0 text-zinc-600 group-hover:text-zinc-950"
  >
    {publishedDate} • {readingSpeed} min
</small>
</a>
