---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AdBanner from "../components/AdBanner.astro";
import framerBanner from "../assets/images/framer_ad.png";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;

const { url } = Astro.request;
const canonicalUrl = new URL(url, Astro.site);

const makeTitle = title
  ? title + " | " + "Frameplugins"
  : "Frameplugins - All the best Framer plugins in one place.";
---

<!doctype html>
<html lang="en" class="bg-zinc-50 text-zinc-800 scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />

    <title>{makeTitle}</title>
    <meta name="description" content={description} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalUrl.href} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://frameplugins.com" />
    <meta property="og:title" content={makeTitle} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://frameplugins.com/og-banner.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://frameplugins.com" />
    <meta property="twitter:title" content={makeTitle} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content="https://frameplugins.com/og-banner.jpg"
    />

    <!-- Analytics & Third party scripts -->
    <script
      defer
      src="https://api.pirsch.io/pa.js"
      id="pianjs"
      data-code="yjIapJudIMFaGFyKRFFqruQWAiOPgbTu"></script>

    <!-- Inset script -->
    <script
      async
      src="https://app.getinset.io/embed.js"
      data-inset="4fd77dfe-8933-4a02-a962-c95e8d2bdb49"></script>
  </head>
  <body
    class="mx-auto flex min-h-screen max-w-[60rem] flex-col gap-12 p-4 md:px-8 md:py-6"
  >
    <Header />
    <main class="flex flex-col gap-8">
      <slot />
    </main>
    <Footer />
    <!-- <AdBanner
      description="Publish your website in minutes with Framer."
      link="/framer-link"
      imageUrl={framerBanner}
    /> -->
  </body>
</html>
