---

import '../styles/global.css';

import { Image } from 'astro:assets';

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import ButtonPrimary from "../components/ButtonPrimary.astro"
import PromoCard from "../components/PromoCard.astro"

// interface Props {
// 	title: string;
// 	frontmatter: any;
// 	tags: array;
// }

const { frontmatter } = Astro.props;

const allTools = await Astro.glob('../pages/tools/*.md');
const allCategories = [...new Set(allTools.map((tool) => tool.frontmatter.categories).flat())];
const categories = frontmatter.categories

const makeTitle = `${frontmatter.title} | Newsletter Supply`
const description = "Newslettr Supply - All the tools you need to launch ,grow and monetize your newsletter."

---

<!doctype html>
<html lang="en" class="bg-zinc-100 text-zinc-700 scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		
		<title>{makeTitle}</title>
		<meta name="description" content={description}>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content=`https://newsletter.supply/tools/${frontmatter.icon}`>
		<meta property="og:title" content={makeTitle}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content="/og-banner.png">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content=`https://newsletter.supply/tools/${frontmatter.icon}`>
		<meta property="twitter:title" content={makeTitle}>
		<meta property="twitter:description" content={description}>
		<meta property="twitter:image" content="/og-banner.png">

		<!-- Analytics & Third party scripts -->
		<script defer src="https://api.pirsch.io/pa.js"
			id="pianjs"
			data-code="JYU9tHVflDF2tvIhthliOIYjoUhYcFo2">
		</script>

	</head>
	<body>
		<div class="mx-auto flex min-h-screen max-w-[60rem] flex-col gap-12 p-4 md:p-8">
			<Header />
			<main class="w-full flex flex-col gap-6 md:flex-row">
				<div class="w-full flex flex-col md:basis-2/3 gap-12">
					<div class="flex flex-col gap-4">
						<h1 class="text-zinc-950 text-4xl font-bold">{frontmatter.title}</h1>
						<p class="text-zinc-700 text-lg leading-relaxed">{frontmatter.description}</p>
						<ButtonPrimary
							link={frontmatter.link}
							title="Website"
							target="_blank"
						/>
					</div>
					<a 
						href={frontmatter.link}
						target="_blank"
						class="hover:opacity-80"
					>
						<Image 
							src=`/${frontmatter.image.url}` 
							alt={frontmatter.image.alt}
							class="border rounded-md"
							width={582}
							height={328}
						/>
					</a>
					<div class="flex flex-col gap-4">
						<slot />
						<ButtonPrimary
							link={frontmatter.features}
							title="View all features"
							target="_blank"
						/>
					</div>
				</div>
				<div class="w-full flex flex-col md:basis-1/3 gap-4">
					<div class="sticky top-4 flex flex-col gap-4">
						<div class="flex flex-col gap-8 group overflow-hidden p-6 rounded-lg bg-zinc-50 border border-zinc-200 w-full cursor-pointer">
							<div class="flex flex-col gap-2">
								<h4>Categories:</h4>
								<div class="flex flex-wrap gap-2">
									{categories.map((category) => 
										<p class="text-zinc-500 text-xs leading-relaxed bg-zinc-100 border border-zinc-300 rounded-sm w-fit py-1 px-2">{category}</p>
									)}
								</div>
							</div>
							<!-- <div class="flex flex-col gap-2">
								<h4>Browse more categories:</h4>
								<div class="flex flex-wrap gap-2">
									{allCategories.map((category) => 
										<p class="text-zinc-500 text-xs leading-relaxed bg-zinc-100 border border-zinc-300 rounded-sm w-fit py-1 px-2">{category}</p>
									)}
								</div>
							</div> -->
						</div>
						<PromoCard />
					</div>
				</div>
			</main>
			<Footer />
		</div>
	</body>
</html>

